.mission-gates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2.gate-head {
  font-family: 'Poppins SemiBold';
  font-size: 40px;
  color: #000;
  text-align: center;
  margin: 0;
  width: 60%;
}

.semi-circle {
  width: 100%;
  height: 25vh;
  background-color: #68eced;
  border-radius: 50% 50% 0 0;
}

.mission-gate {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 40vh;
  background-color: #68eced;
  width: 100%;
}

.discord-mission-gates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2.discord-gate-head {
  font-family: 'Poppins SemiBold';
  font-size: 40px;
  color: #000;
  text-align: center;
  margin: 0;
  width: 60%;
}

.discord-semi-circle {
  width: 100%;
  height: 25vh;
  background-color: #68eced;
  border-radius: 50% 50% 0 0;
}

.discord-mission-gate {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 40vh;
  background-color: #68eced;
  width: 100%;
}

.join-discord-btn{
  position: absolute;
  display: flex;
  width: 17%;
  height: 64%;
  left: 41.5%
}

.discord-semi-circle-wallet{
  width: 100%;
  height: 25vh;
  background-color: grey;
  border-radius: 50% 50% 0 0;
}
.discord-mission-gate-wallet{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 40vh;
  background-color: grey;
  width: 100%;
}
h2.discord-gate-head-wallet{
  font-family: 'Poppins SemiBold';
  font-size: 40px;
  color: #000;
  text-align: center;
  margin: 0;
  width: 60%;
}

.discord-vid{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discord-vid h1{
  color:#fff;
  font-size: 50px;
  border: 5px solid white;
  margin-left: 10%;
  padding: 12%;
}
.discord-vid-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discord-vid-btn button{
  color:white;
  font-size: 30px;
  background-color: turquoise;
  padding: 5%;
  width: 50%;
  margin-left: 26%;
  border-radius: 12px;
}

.discord-complete h1{
  display:flex;
  margin-left: 5%;
  margin-top:7%;
  color:turquoise;
  font-size: 50px;
}

.discord-complete h2{
  margin-left: 45%;
  margin-top: 20%;
  color:turquoise;
}